body{
background:#05070d;
color:#fff;
overflow-x:hidden;
}

.hero{
height:100vh;

background:
linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.85)
),
url("https://raw.githubusercontent.com/corentinsola/solarys-rp/main/illegal.png");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero-content{
max-width:1400px;
margin:auto;
padding:20px;
}

.hero-content h1{

font-size:6rem;
font-weight:700;
text-transform:uppercase;
line-height:1.05;

color:#ffffff !important;

background:none !important;
-webkit-background-clip:initial !important;
-webkit-text-fill-color:#ffffff !important;

text-shadow:
0 0 20px rgba(255,255,255,.15),
0 0 50px rgba(255,255,255,.20);

}

.hero-content p{
margin-top:20px;
font-size:1.6rem;
color:#e5e5e5;
}

.neon-divider{

width:420px;
height:4px;
margin:35px auto;

background:
linear-gradient(
90deg,
#ff2d92,
#8b5cf6,
#1b6cff
);

box-shadow:
0 0 20px #ff2d92,
0 0 30px #1b6cff;

}

@media(max-width:900px){

.hero{
height:70vh;
}

.hero-content h1{
font-size:3rem;
}

.hero-content p{
font-size:1rem;
}

.neon-divider{
width:220px;
}

}
