box-shadow:

/* ========================= */
/* COULEURS DES PUCES */
/* ========================= */

.notions li::before{color:#00e5ff;}
.lexique li::before{color:#9b5cff;}
.exces li::before{color:#00ff88;}
.defaite li::before{color:#ffb300;}
.recul li::before{color:#1b6cff;}
.faq li::before{color:#ff2d92;}

.general li::before{color:#ffc107;}
.otage li::before{color:#9b5cff;}
.vehicule li::before{color:#1b6cff;}
.illegal li::before{color:#ff3b3b;}
.police li::before{color:#00e5ff;}
.ems li::before{color:#00ff88;}
.economie li::before{color:#ff9800;}
.entreprise li::before{color:#00d4aa;}
.sanctions li::before{color:#ff2d92;}

/* ========================= */
/* ACCORDÉON */
/* ========================= */

.hidden{
display:none;
}
